<div [class]="'note ' + (editMode ? 'bg-0 rotate-360' : noteClasses)">
  <!-- view mode block -->
  <ng-container *ngIf="!editMode && !addMode">
    <small [appDateToggle]="note.createdAt"></small>
    <p class="title" (click)="editMode = true">{{note.title}}</p>
    <p class="content" (click)="editMode = true">{{note.content}}</p>
  </ng-container>
  <!-- end view mode block -->

  <!-- edit mode block -->
  <div class="edit-form" *ngIf="editMode">
    <app-note-edit-form [note]="note" (submit)="saveEmit($event)">
      <button type="submit" class="note-btn save">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </button>
      <button type="button" class="note-btn cancel" [class.add-mode]="addMode" (click)="cancelEmit()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </app-note-edit-form>
  </div>
  <!-- end edit mode block -->

  <ng-container *ngIf="!addMode">
    <a class="note-btn detail" (click)="detail.emit()">
      <i class="fa fa-info" aria-hidden="true"></i>
    </a>
    <a class="note-btn delete" (click)="delete.emit()">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </ng-container>
</div>
